@charset "utf-8";
/* CSS Document */
body {
background-color: white;
color: black;
font-size: 20px;
font-family: "Lucida Grande", Verdana,Arial, Helvetica, sans-serif;
}
h1, th {
font-family: Georgia, "Times New Roman",Times, serif;
}
h1 {
font-size: 28px;
}
table {
border-collapse: collapse;
width:50%;
height:50%;
}
th, td {
	padding: 0px;
	border: 2px #666 solid;
	text-align: center;
	width: 20%;
	color:#FFF;
}
#free, .pickedBG {
background-color: #f66;
}
.winningBG {
background-color:#F93;
}

